.news-feed-title {
    font-size: 24px;
    font-weight: 600;
    overflow: scroll;
    margin: 0;
}

.news-feed-card {
    align-self: center;
    margin: 8px;
}

.infinite-container {
    overflow-y: scroll;
    padding: 8px 24px;
    height: 210px;
}
.loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.visible-scrollbar::-webkit-scrollbar {
    display: block;
    width: 1em;
}

.visible-scrollbar::-webkit-scrollbar-track {
    background-color: lightgray;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
